/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') */

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}


body{
   


  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:2px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: whitesmoke;
    


}
.maque{
  background-color: red;
  color: #f1f1f1f1;
  padding: 10px 20px;
  font-size: xx-large;
  font-weight: 600;
  opacity: .7;
  transition: 2s;
  text-shadow: 1px 8px 6px  #fff;
  cursor: pointer;
}
.collapse,.nav-collaps, span, .collapse-ul, #navbar-dark{
  display: none;
}
.nav-B{
  
  display: none;
  z-index: 1;
  font-size: larger;
  font-weight: 700;
  transition: 2s;
  text-shadow: 1px 8px 6px  #fff;
  cursor: pointer;
 
}
.nav-A{
  display: block;
  
  font-size: larger;
  font-weight: 700;
  z-index: 1;
  transition: 2s;
  text-shadow: 1px 8px 6px  #fff;
  cursor: pointer;
}
.navbar-nav .nav-item .nav-link{
  color: #fff;
}
/* .navbar-nav .nav-item .nav-link:hover{
  background-color: #960c0c;
  color: whitesmoke;
  text-decoration: underline;
  transition-delay: .1s;

} */





.navbar {
  
  display: flex;
 align-items: center;
  justify-content: space-between;
  padding: 10px 25px; 
  background-color: blue;
  
  box-shadow: 2px 4px 8px #a8a4a4f1;

  
  
}


.nav-A{
  position: fixed;
  width: 100%;
  top: 0;
  
}


.navbar-toggler-icon img{
  margin-top: -1rem;
  border-radius: 50%;
}
.image{
  background-image: url(/image/homeimage.jpg);

  /* background-repeat: no-repeat;
background-size: contain;
width: 100%;
  backdrop-filter: blur(2px);
  opacity: .7; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* background-color: #2a2626; */
  filter: blur(1px);
}
.image h2{
text-align: center;
color: #f1f1f1f1;
padding: 20px;
margin: 10px;
font-size: x-large;
font-weight: 800;
}
.image .image-txt{
background-color: rgba(0, 0, 0, .5);
  color: #f1f1f1f1;
  font-weight: 700;
  font-size: larger;
  padding: 20px;
  /* opacity: .5; */

  
}
.image .image-txt p{

  z-index: 1;

}
.news-update{
  display: flex;
}
.news-update .card1{
  padding:  20px;
  margin: 20px;
}
.exam-update{
  display: flex;
 
}
.exam-update .card{
 margin: 20px;
}
.exam-update .card h6{
  color: #fb7575;
  font-size: x-large;
  text-decoration: underline;
  font-weight: 400;
  text-align: center;
  padding: 20px;
  margin-top: -2rem;

}
.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: 100;
}
.icons .icon-div{
padding: 20px;
margin-top: -20px;


}
.icons .icon-div .fa{
 padding: 10px;
font-size:xx-large ;
margin-left: 50px;
  align-items: center;
  
 
}


.top-uni{
  background-color: black;
  color: #ddd;
  padding: 20px;
  font-size: large;
  font-weight: 500;
}
.top-uni   li{
  padding:20px;
  margin-left: 1rem;
  border: 2px solid;
  transition: .5s;
  
}
.top-uni   li:hover{
  /* background-color: #ddd; */
  color: yellow;
  transition-delay: .5s;
}

footer{
  background-color: black;
 
}
footer .container-fluid, .social{
 padding: 10px;
display: flex;
justify-content: space-around;
text-decoration: none;
list-style: none;
color: #fff;

}
footer .container-fluid .company{
padding: 10px;
font-size: medium;
font-weight: 500;
text-decoration: none;
list-style: none;


}
footer .container-fluid .services{
  padding: 10px;
font-size: medium;
font-weight: 500;
text-decoration: none;
list-style: none;

}
footer .container-fluid .contact{
  padding: 10px;
font-size: medium;
font-weight: 500;
text-decoration: none;
list-style: none;
}
footer .container-fluid .contact h6{
  color: red;
  padding: 10px;
  font-size: xx-large;
  font-weight: 600;
  text-transform: capitalize;
}
footer .container-fluid .services h6{
  color: red;
  padding: 10px;
  font-size: xx-large;
  font-weight: 600;
  text-transform: capitalize;
}
footer .container-fluid .company h6{
  color: red;
  padding: 10px;
  font-size: xx-large;
  font-weight: 600;
  text-transform: capitalize;
}
footer .container-fluid .company li a{
  color: #fff;
  padding: 10px;
  font-size: larger;
  font-weight: 400;
  text-decoration: none;
}
footer .container-fluid .contact li {
  color: #fff;
  padding: 10px;
  font-size: larger;
  font-weight: 400;
  text-decoration: none;
}
footer .container-fluid .services li a{
  color: #fff;
  padding: 10px;
  font-size: larger;
  font-weight: 400;
  text-decoration: none;
}

.collapse{
  background-color: #ddd;
  /* color: #f1f1f1f1; */
  color: #fb7575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collapse span img{
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* media queryfor small screen of 270 */

@media (max-width:290px) {

  .nav-A{
    display: none;
  }
  .nav-B{
    display: none;
  }
  .collapse,.nav-collaps, span, .collapse-ul, #navbar-dark{
    display: block;
  }
  .nav-icon{
    background-color: #960c0c;
  }
  .nav-icon #btn-toggle  {
 
position: relative;
left: 25%;
  }
 .collapse{
  display: flex;
 }
 .news-update{
  display: flex;
  flex-direction: column;
}
.exam-update{
  display: flex;
  flex-direction: column;
 
}
footer .container-fluid{
  padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-decoration: none;
 list-style: none;
 
 }
}
/* media queryfor small screen of 790 */
@media (max-width:790px) {

  .nav-A{
    display: none;
  }
  .nav-B{
    display: none;
  }
  .collapse,.nav-collaps, span, .collapse-ul, #navbar-dark{
    display: block;
  }
  .nav-icon{
    background-color: #960c0c;
  }
  .nav-icon #btn-toggle  {
 
position: relative;
left: 50%;
  }
 .collapse{
  display: flex;
 }
 .news-update{
  display: flex;
  flex-direction: column;
}
.exam-update{
  display: flex;
  flex-direction: column;
 
}.exam-update .card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-unihead{
 
  text-align: center;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;align-items: center;
  font-size: xx-large;
  font-weight: 100;
}
footer .container-fluid{
  padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-decoration: none;
 list-style: none;
 
 }
 footer .container-fluid{
  display: flex;
  align-items: center;justify-content: center;
 }
}
@media (max-width:1010px) {

  .nav-A{
    display: none;
  }
  .nav-B{
    display: none;
  }
  .collapse,.nav-collaps, span, .collapse-ul, #navbar-dark{
    display: block;
  }
  .nav-icon{
    background-color: #960c0c;
  }
  .nav-icon #btn-toggle  {
 
position: relative;
left: 50%;
  }
 .collapse{
  display: flex;
 }
 .news-update{
  display: flex;
  flex-direction: column;
}
.exam-update{
  display: flex;
  flex-direction: column;
 
}.exam-update .card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-unihead{
 
  text-align: center;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;align-items: center;
  font-size: xx-large;
  font-weight: 100;
}
footer .container-fluid{
  padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-decoration: none;
 list-style: none;
 
 }
 footer .container-fluid{
  display: flex;
  align-items: center;justify-content: center;
 }
}